<!DOCTYPE html>
<html dir="rtl" lang="fa" >
    <head>
        <meta charset="UTF-8">
        <title> انبارداری </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <!-- W3css -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        <!-- CSS -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'MyApp/css/style_for_index.css' %}">

        <!-- Bootstrap CSS library -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- jQuery library -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <!-- JavaScript library -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Latest compiled JavaScript library -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <style>
            @font-face {
                font-family: 'Tanha';
                src: url('{% static 'MyApp/fonts/Tanha.eot' %}') format('eot');
                src: url('{% static 'MyApp/fonts/Tanha.woff' %}') format('woff'),
                url('{% static 'MyApp/fonts/Tanha.woff2' %}') format('woff2'),
                url('{% static 'MyApp/fonts/Tanha.ttf' %}') format('ttf');
                font-weight: normal;
                font-style: normal;
                }
        </style>
    </head>

    <body style="background-color: #993369; font-family: 'Tanha', serif;">

        <div class="container-fluid" id="about" >
            <div class="row" >

                 <div class="col-lg-6 pt-4" style="background-color: #993369;">
                    <img class="img-fluid mx-auto d-block" src="{% static 'MyApp/image/57856304.jpg' %}" alt="photo">
                </div>

                <div class="col-lg-6 px-5 text-justify pt-8" style="background-color: #993369;padding-top: 9%">
                    <p>
                        نرم افزار انبارداری ، براي كنترل و مديريت ورود و خروج كالاي يك شركت يا سازمان مي باشد. توجه به كنترل اطلاعات ورود و خروج کالاها و داشتن اطلاعات بروز و صحیح از موقعیت مکانی و تعداد کالا ها در انبار یکی از مهمترین دغدغه های یک شرکت می باشد.

مدیریت موجودی کالا در انبار های یک سازمان که همیشه بخش عظیمی از سرمایه را به خود اختصاص می دهد کمک بسزایی در کاهش هزینه ها و سود آوری سازمان خواهد کرد.

مدیریت دائمی بر روی کالاهای موجود در انبار ها باعث افزایش سرعت ارائه خدمات به مشتریان می گردد و مشکلات موجود در سیستم های دستی و سنتی را از بین می برد.

علاوه بر ثبت کالا های ورودی و خروجی‌،می توانید سریالهای هر کالا را کنترل و مدیریت نمائید ، نرم افزار انبارداری  با کاربری ساده و آسان امکاناتی را به‌وجود می‌آورد که سازما‌ن‌ها بتوانند به اطلاعات موجودی کالا در انبارها به‌صورت یکپارچه و صحیح دسترسی داشته باشند
                    </p>
                </div>



            </div>

            <div class="row">
                <div class="col-lg-6 pt-5" style="background-color: #993369;">
                    <i class="fa fa-map-marker" style="width:30px;height:32px"></i>ایران, تهران<br>
                    <i class="fa fa-phone" style="width:30px; height:32px"></i>تلفن: 885 021<br>
                    <i class="fa fa-envelope" style="width:30px; height:32px"></i>ایمیل: mail@gmail.com
                </div>
                <div class="col-lg-6 pt-5" style="background-color: #993369;">
                    <footer>
                          <a href="#"> <i class="fa fa-facebook-official"></i> </a>
                          <a href="#"> <i class="fa fa-instagram"></i> </a>
                          <a href="#"> <i class="fa fa-snapchat"></i> </a>
                          <a href="#"> <i class="fa fa-pinterest-p"></i> </a>
                          <a href="#"> <i class="fa fa-twitter"></i> </a>
                          <a href="#"> <i class="fa fa-linkedin"></i> </a>
                          <p >Powered by <a href="#" target="_blank" style="color: #fcca00">Esmaeil</a></p>
                          <a href="{% url 'MYApp:index' %}" style="text-decoration: none"><h2 class="mx-auto" id="Brand">online</h2></a>
                    </footer>
                </div>
            </div>
        </div>
    </body>
</html>