{% extends 'WarehouseKeeper_Profile.html' %}
{% load crispy_forms_tags %}


{% block warehouse_name_top_page %}
    {% for w in warehouse_name_top_page_id %}
         <p style="display: inline">
             نام شرکت: <span style="color: #fcfbfb" title="نام شرکت">{{ w.company.name }}</span> ||
         </p>

         <p style="display: inline">
            نام انبار: <span style="color: #fcfbfb" title="نام انبار انتخاب شده">{{ w.name }}</span>
         </p>
    {% endfor %}

{% endblock %}


{% block ContentProfile %}
    <div class="row justify-content-center  mt-5" id="ProfileDetail">
      <div class="col-10 col-sm-10 col-md-6 col-lg-4">

          <p style="color: #a212da; text-align: center; font-weight: bold">
               نمایش کالاهایی که تاریخ انقضاء آنها نزدیک است
          </p>

          <hr>
          <form method="post" style="text-align: center">
              {% csrf_token %}

              <div style="direction: ltr; text-align: center">
                  <p style="color: #070505; text-align: center; font-weight: bold; display: inline">
                   :جستجو کالا در
                  </p>
                  {{form.select|as_crispy_field}}
              </div>

              <input type="submit" class="btn btn-success btn-block" value="نمایش کالا">
        </form>

          <p style="color: #e00c24; text-align: center; font-weight: bold">
              {{ message }}
          </p>

      </div>
    </div>
{% endblock %}