{% extends 'WarehouseKeeper_Profile.html' %}
{% load crispy_forms_tags %}


{% block warehouse_name_top_page %}
    {% for w in warehouse_name_top_page_id %}
         <p style="display: inline">
             نام شرکت: <span style="color: #fcfbfb" title="نام شرکت">{{ w.company.name }}</span> ||
         </p>

         <p style="display: inline">
            نام انبار: <span style="color: #fcfbfb" title="نام انبار انتخاب شده">{{ w.name }}</span>
         </p>
    {% endfor %}

{% endblock %}



{% block ContentProfile %}
    <div class="row justify-content-center" id="ProfileDetail">
      <div class="col-10 col-sm-10 col-md-6 col-lg-4">

          <p style="text-align: center; color: #ec0000; font-weight: bold">{{ message }}</p><hr>

          <form method="post" style="text-align: right">
              {% csrf_token %}
              {{form.goods|as_crispy_field}}
              {{form.warehouse|as_crispy_field}}
              {{form.location|as_crispy_field}}
              {{form.value|as_crispy_field}}
              {{form.min_value|as_crispy_field}}
              {{form.max_value|as_crispy_field}}
              {{form.expiration|as_crispy_field}}
              <input type="submit" class="btn btn-success btn-block" value="ثبت ویرایش">
        </form>

          <br>
          {% if upadte == 'Yes' %}
              <button type="button" class="btn btn-primary" style="margin-left: 40%" >
                  <a href="#"  onclick="history.go(-2);" style="color: white">بازگشت  </a>
              </button>
          {% else %}
              <button type="button" class="btn btn-primary" style="margin-left: 40%" >
                  <a href="#"  onclick="history.go(-1);" style="color: white">بازگشت  </a>
              </button>
          {% endif %}


      </div>
    </div>
{% endblock %}