<!DOCTYPE html>
<html dir="rtl" lang="fa" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title> انبارداری </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <!-- W3css -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        <!-- CSS -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'MyApp/css/style_for_index.css' %}">

        <!-- Bootstrap CSS library -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- jQuery library -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <!-- JavaScript library -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Latest compiled JavaScript library -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <style>
            @font-face {
            font-family: 'Tanha';
            src: url('{% static 'MyApp/fonts/Tanha.eot' %}') format('eot');
            src: url('{% static 'MyApp/fonts/Tanha.woff' %}') format('woff'),
            url('{% static 'MyApp/fonts/Tanha.woff2' %}') format('woff2'),
            url('{% static 'MyApp/fonts/Tanha.ttf' %}') format('ttf');
            font-weight: normal;
            font-style: normal;
            }
        </style>

    </head>


    <body style="background-color:#939191; font-family: 'Tanha', serif;">
        <div class="container-fluid" >
            <nav class="navbar navbar-expand-lg text-right navbar-dark bg-primary fixed-top">
                <a class="navbar-brand" href="{% url 'MYApp:index' %}">
                    <div id="Brand">
                        <h2>online</h2>
                    </div>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavDropdown" >
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'MYApp:index' %}">صفحه اصلی <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'MYApp:RegisterAdmin' %}">ثبت نام</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'MYApp:about' %}">درباره ما</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ورود
                            </a>
                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'MYApp:login' %}">ورود کاربران</a>
                                <a class="dropdown-item" href="{% url 'MYApp:admin' %}">ورود به پنل مدیریت</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>



            <div class="w3-content w3-section" style="max-width:2000px;">
                <img class="mySlides" src="{% static 'MyApp/image/A.jpg'%}" alt="photo" style="width:100%;height: 600px">
                <img class="mySlides" src="{% static 'MyApp/image/B.jpg'%}" alt="photo" style="width:100%;height: 600px">
                <img class="mySlides" src="{% static 'MyApp/image/C.jpg'%}" alt="photo" style="width:100%;height: 600px">
                <img class="mySlides" src="{% static 'MyApp/image/D.jpg'%}" alt="photo" style="width:100%;height: 600px">
            </div>




            <div class="row">

                <div class="col-lg-6 px-5 text-justify" style="background-color: #939191;padding-top: 9%">
                    <p>
                        نرم افزار انبارداری ، براي كنترل و مديريت ورود و خروج كالاي يك شركت يا سازمان مي باشد. توجه به كنترل اطلاعات ورود و خروج کالاها و داشتن اطلاعات بروز و صحیح از موقعیت مکانی و تعداد کالا ها در انبار یکی از مهمترین دغدغه های یک شرکت می باشد.

                        مدیریت موجودی کالا در انبار های یک سازمان که همیشه بخش عظیمی از سرمایه را به خود اختصاص می دهد کمک بسزایی در کاهش هزینه ها و سود آوری سازمان خواهد کرد.

                        مدیریت دائمی بر روی کالاهای موجود در انبار ها باعث افزایش سرعت ارائه خدمات به مشتریان می گردد و مشکلات موجود در سیستم های دستی و سنتی را از بین می برد.
                    </p>
                </div>


                <div class="col-lg-6" style="background-color:  #939191;">
                    <img class="img-fluid mx-auto d-block" src="{% static 'MyApp/image/57856304.jpg' %}" alt="photo">
                </div>

            </div>




            <div class="row">

                <div class="col-lg-6" style="background-color:  #939191;">
                    <img class="img-fluid mx-auto d-block" src="{% static 'MyApp/image/precise-inventory-management-software_640x426.png' %}" alt="photo">
                </div>

                <div class="col-lg-6 px-5 text-justify" style="background-color:  #939191;padding-top: 9%">
                    <p>
                   نرم افزار انبارداری یک نرم افزار تحت وب انبارداری است که می توان از این سیستم آنلاین استفاده نمایید و کنترل موجودی انبار خود را لحظه ای به دست بگیرید.
                    این نرم افزار تنها مناسب کسب و کارهایی نیست که با انبار کردن کالا سروکار دارند. این سیستم انبارداری برای فروشگاه ها، فروشگاه های اینترنتی و افرادی که بدون انبار کالا خرید و فروش می کنند و پیمانکاران و اجناس امانی مناسب است.
                        علاوه بر ثبت کالا های ورودی و خروجی‌، نرم افزار انبارداری  با کاربری ساده و آسان امکاناتی را به‌وجود می‌آورد که سازما‌ن‌ها بتوانند به اطلاعات موجودی کالا در انبارها به‌صورت یکپارچه و صحیح دسترسی داشته باشند.
                    </p>
                </div>
            </div>



            <div class="row" id="myfooter" >
                <div class="col-lg-4 bg-primary">
                    <hr style="background-color: #c7102b">
                    <i class="fa fa-map-marker" style="width:30px;height:32px"></i>ایران, تهران<br>
                    <i class="fa fa-phone" style="width:30px; height:32px"></i>تلفن:885 021 <br>
                    <i class="fa fa-envelope" style="width:30px; height:32px"></i>ایمیل: mail@gmail.com
                </div>
                <div class="col-lg-4 bg-primary">
                    <hr style="background-color: #c7102b">
                    <footer>
                          <a href="#"> <i class="fa fa-facebook-official"></i> </a>
                          <a href="#"> <i class="fa fa-instagram"></i> </a>
                          <a href="#"> <i class="fa fa-snapchat"></i> </a>
                          <a href="#"> <i class="fa fa-pinterest-p"></i> </a>
                          <a href="#"> <i class="fa fa-twitter"></i> </a>
                          <a href="#"> <i class="fa fa-linkedin"></i> </a>
                          <p >Powered by <a href="#" target="_blank" style="color: #fcca00">Esmaeil</a></p>
                          <a href="{% url 'MYApp:index' %}" style="text-decoration: none"><h2 class="mx-auto" id="Brand">online</h2></a>
                    </footer>
                </div>
                <div class="col-lg-4 bg-primary">
                    <hr style="background-color: #c7102b">
                    <ins style="color: #fcca00">لینک مفید</ins><br>
                    <a href="https://qiet.ac.ir/fa" target="_blank" style="color: black">دانشگاه صنعتی قوچان</a><br>
                    <a href="https://www.google.com/" target="_blank" style="color: black">گوگل</a><br>
                    <a href="https://www.nwms.ir/" target="_blank" style="color: black">سامانه جامع انبارها</a>
                </div>
            </div>


        </div>





        <script>
            var myIndex = 0;
            carousel();
            function carousel() {
                var i;
                var x = document.getElementsByClassName("mySlides");
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                myIndex++;
                if (myIndex > x.length) {myIndex = 1}
                x[myIndex-1].style.display = "block";
                setTimeout(carousel, 2000);
            }
        </script>

    </body>
</html>