{% extends 'WarehouseKeeper_Profile.html' %}
{% load crispy_forms_tags %}



{% block warehouse_name_top_page %}
    {% for w in warehouse_name_top_page_id %}
         <p style="display: inline">
             نام شرکت: <span style="color: #fcfbfb" title="نام شرکت">{{ w.company.name }}</span> ||
         </p>

         <p style="display: inline">
            نام انبار: <span style="color: #fcfbfb" title="نام انبار انتخاب شده">{{ w.name }}</span>
         </p>
    {% endfor %}

{% endblock %}





{% block ContentProfile %}
    <div class="row justify-content-sm-center mt-5" id="ProfileDetail">
      <div class="col-12 col-sm-6 col-xl-4">

          <p style="text-align: center; color: #ec0000">{{ message }}</p><hr>

          <form method="post" style="text-align: right">
              {% csrf_token %}

	          {{form|crispy}}

              <input type="submit" class="btn btn-success btn-block" value="ثبت ویرایش">
        </form>

          <br>
          {% if upadte == 'Yes' %}
              <button type="button" class="btn btn-primary" style="margin-left: 40%" >
                  <a href="#"  onclick="history.go(-2);" style="color: white">بازگشت  </a>
              </button>
          {% else %}
              <button type="button" class="btn btn-primary" style="margin-left: 40%" >
                  <a href="#"  onclick="history.go(-1);" style="color: white">بازگشت  </a>
              </button>
          {% endif %}
          <hr>


      </div>
    </div>
{% endblock %}