{% extends 'Referred_Profile.html' %}

{% block ContentProfile %}
    <div class="row justify-content-md-center  mt-5 mx-xl-1" id="ProfileDetail">
      <div class="col-12 col-sm-12">

          <p style="color: #a212da; text-align: center; font-weight: bold">
              مراجعه کننده محترم، موارد زیر نشان دهنده درخواست کالا توسط شماست
          </p>

         {% if filterdate == '' %}
             <div class="btn-group" style="margin-left: 47%; margin-bottom: 3%">
                  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    فیلتر
                  </button>
                  <div class="dropdown-menu">

                    <a class="dropdown-item text-center" href="{% url 'MYApp:view_Requestgoods_Goodsname' %}"
                       onMouseOver="this.style.color='red'"  onMouseOut="this.style.color='black'">
                        نام کالا
                    </a>


                    <a class="dropdown-item text-center" href="{% url 'MYApp:view_Requestgoods' %}"
                    onMouseOver="this.style.color='red'"  onMouseOut="this.style.color='black'">
                          تاریخ نزولی
                    </a>


                    <a class="dropdown-item text-center" href="{% url 'MYApp:view_Requestgoods_Ace' %}"
                       onMouseOver="this.style.color='red'"  onMouseOut="this.style.color='black'">
                          تاریخ صعودی
                    </a>


                    <a class="dropdown-item text-center" href="{% url 'MYApp:view_Requestgoods_minValue' %}"
                       onMouseOver="this.style.color='red'"  onMouseOut="this.style.color='black'">
                        کمترین مقدار
                    </a>

                    <a class="dropdown-item text-center" href="{% url 'MYApp:view_Requestgoods_maxValue' %}"
                       onMouseOver="this.style.color='red'"  onMouseOut="this.style.color='black'">
                        بیشترین مقدار
                    </a>



                    <a class="dropdown-item text-center" href="{% url 'MYApp:view_Requestgoods_Result' %}"
                       onMouseOver="this.style.color='red'"  onMouseOut="this.style.color='black'">
                       نتیجه درخواست
                    </a>
                  </div>
              </div>
         {% endif %}


          <table class="table table-striped table-dark text-right">
              <thead>
                <tr>

                  <th scope="col">نام کالا</th>
                  <th scope="col">تعداد</th>
                  <th scope="col">واحد</th>
                  <th scope="col">تاریخ درخواست</th>
                  <th scope="col">ادرس</th>
                  <th scope="col">نتیجه درخواست</th>
                  <th scope="col">کد رهگیری</th>
                  <th scope="col">علت رد شدن</th>
                  <th scope="col">ویرایش درخواست</th>
                  <th scope="col">حذف درخواست</th>
                </tr>

              </thead>


              <tbody>

               {% for data in dataset %}
                <tr>

                  <td>{{ data.goods.name }}</td>

                  <td>{{ data.value }}</td>

                  <td>{{ data.goods.unit.name }}</td>

                  <td>{{ data.date }}</td>

                  <td>{{ data.address }}</td>

                  {% if data.result == '1' %}
                    <td>قبول</td>
                  {% elif data.result == '2' %}
                    <td>رد</td>
                  {% else %}
                    <td>نامشخص</td>
                  {% endif %}


                  {% if data.serial  %}
                      <td><a href="{% url 'MYApp:view_exitgoods_by_serial_r' id=data.serial %}">{{ data.serial }}</a></td>
                  {% else %}
                      <td style="font-weight: bold">---</td>
                  {% endif %}


                  {% if data.comment  %}
                      <td>{{ data.comment }}</td>
                  {% else %}
                      <td style="font-weight: bold">---</td>
                  {% endif %}



                  {% if data.result == '1' %}
                    <td>امکان ویرایش درخواست نیست</td>
                  {% elif data.result == '2' %}
                    <td>امکان ویرایش درخواست نیست</td>
                  {% else %}
                    <td> <a href="{% url 'MYApp:update_Requestgoods' id=data.id %}"> ویرایش درخواست</a></td>
                  {% endif %}

                  {% if data.result == '1' %}
                    <td>امکان حذف درخواست نیست</td>
                  {% elif data.result == '2' %}
                    <td>امکان حذف درخواست نیست</td>
                  {% else %}
                    <td> <a href="{% url 'MYApp:delete_Requestgoods' id=data.id %}"> حذف درخواست</a></td>
                  {% endif %}

                </tr>
               {% endfor %}

              </tbody>
         </table>



          <h4 style="text-align: center; color: #ec0000">{{ message }}</h4>
      </div>
    </div>
{% endblock %}